.container {
display: grid;
grid-template-columns: auto auto auto;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    }


    h3 {
        font-size: 70px; text-align: center;
    }

    h2 {
        text-align: center;
    }

    nav { background-color: rgb(156, 12, 1); padding: 40px;}

    main { background-color: rgb(100, 99, 102);}